@charset "utf-8";

@font-face {
    font-family:Roboto;
    src:url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:Roboto Medium;
    src:url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Roboto light;
    src:url(../../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto Bold;
    src:url(../../fonts/Roboto-Bold.ttf);
}

/* CSS Document */
body {
	font-family: Roboto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*Login page Css Start*/
.login_bg {
	background:url(../../images/login_bg.png) no-repeat 0 0/100% 100% transparent;
	width: 100%;
	background-size:100% 100%;
	margin: 0 auto;
}
.login_ht{
	height:100%;
	}
.header-login {
	margin: 0 auto;
	height: 185px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.container h2 {
	color: #222222;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.container p {
	color: #222222;
	font-size: 16px;
	text-align: center;
	font-family: Roboto Medium;
}
.input_icon {
	position: relative;
}
.input_icon span {
	position: absolute;
	top: 16px;
	z-index: 9;
	left: 10px;
	padding-right: 5px;
}
.input_icon  input[type="email"], .input_icon  input[type="password"]
{
   padding-left:30px;	
   border-radius: 0px;
   background-color:#cee2ef;
}
.input_icon  input[type="email"]:focus, .input_icon  input[type="password"]:focus
{
   background-color:#c7e1ed;
}
.form-signin button, .form-signin button:hover{
 color:#ffffff;
 font-family: Roboto Medium;
 font-size:14px;
 background-color:#183163;
 border-radius:0px;
 border:none;
}
.forgot a{
	text-decoration:underline;
  color:#ffffff;
 font-family: Roboto light;
 font-size:12px;	
 text-align:center;
 
}
.forgot{
	margin-top:20px;
}
.copyright a{
 text-decoration:none;
 color:#ffffff;
 font-family: Roboto light;
 font-size:11px;	
 text-align:center;
	}
.copyright{
  padding-top: 30px;
  margin-top: 30px;
}
/*Login page Css End*/
.container
{
	padding-left:0px;
	padding-right:0px;
}
.root_container {
	min-width: 1024px;
	width:1024px;
}
.workspace_tab .nav-tabs li a {
	padding: 23px 7px 7px !important;
}
.workspace_tab .nav-tabs li a span {
	background-repeat: no-repeat;
	line-height: 48px;
    padding-top: 6px;
	cursor:pointer; display:inline-block; height: 26px; width: 26px; }
	display: inline-block;
	height: 26px;
	width: 26px;
}
/* table tab with active*/
.workspace_tab .nav-tabs li.nav_table a span.nav_table,
.workspace_tab .nav-tabs li a span.nav_table
 {
	background-image:url(../../images/table_blue.png);	
}
.workspace_tab .nav-tabs li.nav_table a span {
	background-image:url(../../images/table_blue.png);	
	}
.workspace_tab .nav-tabs>li.nav_table:active>a span, 
.workspace_tab .nav-tabs>li.nav_table:hover>a span,
.workspace_tab .nav-tabs>li.active>a span.nav_table{
	background-image:url(../../images/Table.png);
}

/* matrix tab with active */
.workspace_tab .nav-tabs li.nav_matrix a span {
	background-image:url(../../images/Matrix.png);
	}
.workspace_tab .nav-tabs>li.nav_matrix:active>a span, 
.workspace_tab .nav-tabs>li.nav_matrix:hover>a span,
.workspace_tab .nav-tabs>li.active>a span.nav_matrix
{
	background-image:url(../../images/matrix-active.png);
	}
.workspace_tab .nav-tabs li:active.nav_matrix a span,
.workspace_tab .nav-tabs .nav_matrix:active a span
{
	background-image:url(../../images/matrix-active.png);
}
.workspace_tab .nav-tabs li.nav_save a span {
	background-image:url(../../images/save-active.png);
	}
.workspace_tab .nav-tabs>li.nav_save:active>a span, 
.workspace_tab .nav-tabs>li.nav_save:hover>a span{
	background-image:url(../../images/Save.png);
	}

.workspace_tab .nav-tabs li.nav_clone a span {
	background-image:url(../../images/Clone.png);
	}
.workspace_tab .nav-tabs>li.nav_clone:active>a span, 
.workspace_tab .nav-tabs>li.nav_clone:hover>a span{
	background-image:url(../../images/clonewhite.png);
	}	
	
.workspace_tab .nav-tabs li.nav_SUMMARY a span {
	background-image:url(../../images/summary_view.png);
	}
.workspace_tab .nav-tabs>li.nav_SUMMARY.active>a span, 
.workspace_tab .nav-tabs>li.nav_SUMMARY:active>a span, 
.workspace_tab .nav-tabs>li.nav_SUMMARY:hover>a span{
	background-image:url(../../images/summarywhite.png);
	}	
	
.workspace_tab .nav-tabs li.nav_ADDITIONAL a span {
	background-image:url(../../images/Constraints.png);
	width:39px;
	}
.workspace_tab .nav-tabs>li.nav_ADDITIONAL:active>a span, 
.workspace_tab .nav-tabs>li.nav_ADDITIONAL:hover>a span{
	background-image:url(../../images/Additional_Constraints.png);
	width:39px;
	}	
	/* nav arrow box active */	
.workspace_tab .nav-tabs .nav_ADDITIONAL.arrow_box a span{
	background-image:url(../../images/Additional_Constraints.png);
}
.workspace_tab .nav-tabs .nav_SUMMARY.arrow_box a span{
	background-image:url(../../images/summarywhite.png);
}
.workspace_tab .nav-tabs li.nav_DELETE a span {
	background-image:url(../../images/Delete.png);
	
	}
.workspace_tab .nav-tabs>li.nav_DELETE:active>a span, 
.workspace_tab .nav-tabs>li.nav_DELETE:hover>a span{
	background-image:url(../../images/Delete_light.png);
	
	}
/* active color for run block */
.enableShow_child1,
.enableShow_child1 .risk_text{color:#fff}

.enableShow_child2,
.enableShow_child2 .chart_txt,
.enableShow_child2 .drpdown .customdd a{color:#fff}
.header .navbar .main_container .navbar-header{
	margin-left:20px;
}
.bgcolor {
	background-color: #313436;
}
.main_container {
	/* margin-left: 0px;
	margin-right: 0px; */
    z-index: 11;
}
.navbar-brand{
	padding: 15px 0px;
}
.padd-right15{
	padding-right:20px;
}
.navbar{
	margin-bottom:0px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #828b91;
  border-right: 2px solid #292c2e;
  text-shadow:2px 2px #292c2e;
  font-size:18px;
  font-weight: medium;
    padding-right: 30px;
}
#navbar ul{
	  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
	}
.navbar-nav a {
	background-color: #313436;
	color: #ebebeb;
	border-left: 2px solid #3c3f42;
	border-right: 2px solid #292c2e;
	cursor: pointer;
}
.navbar-default .navbar-nav>li>a {
	color: #f5f5f5;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ebebeb;
}
.user_img {
	margin-top:8px;
}
.user_name {
	color: #fff;
	font-size: 14px;
	line-height:49px;
	margin-left: 8px;
	font-weight:lighter;
	margin-right: 30px;
}
.caret {
	display: inline-block;
	width: 0px;
	height: 0;
	margin-left: 6px;
	vertical-align: middle;
	border-top: 9px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	color: #fff;
	margin-top: -2PX;
}
/**/
.tble_close {
  border: 1px solid #e4e7e8;
  padding: 7px;
  cursor:pointer;
}
.bg_blue{
	background-color:#005a94;
}
.rg_border{
	border-right:2px solid #00406a;
	}
.lf_border{
	border-left:2px solid #0069ad;
	}
.margin_tp{
	margin-top: 0px;
  margin-left: -8px;
	}
.summary_tbl{
	margin-top:15px;

	}
.cust_tbl{
		border:1px solid #dee1e2;
		width: 786px;
	}
.cust_tr{
  background-color: #f2f2f2;
  color: #737f7f;	
   font-size:12px;
}
.cust_tr td{
	   border-left:1px solid #fff;
border-right:1px solid #fff;
	}
.cust_tr1
{

 background-color: #fff;
 color:#313436;
 font-size:12px;
}
.cust_tr1 td{
border-left:1px solid #dee1e2;
border-right:1px solid #dee1e2;	
}

/**/
/* .workspace_tabs {
	margin-top: 51px;
} */
.workspace_tab {
	margin-top: 0px;
}
.tab_bg{
  margin-top: -20px;
  background-color:#005a94;
	}
.workspace_tabs ul li {
	min-width: 155px;
}
.workspace_tabs .nav-tabs>li.active>a,.workspace_tabs .nav-tabs>li.active>a:focus,
.workspace_tabs .nav-tabs>li.active>a:hover {
	background-color: #ffad10;
	border: 1px solid #ffad10;
	color: #313436;
	padding-top: 12px;
	font-size:14px;
	box-shadow: 6px 0px 10px #d4d8d9;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	background-image: url(../../images/Delete%20Sign%20dark.png);
    background-repeat: no-repeat;
    background-position: right top;
	background-size:14px 14px;
	  
}
.workspace_tabs ul li a{height:45px;}
.workspace_tabs ul li a span{white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  float: left;
  display: inline-block;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #ffad10;
	border: 1px solid #ffad10;
	color: #313436;
	padding-top: 12px;
	font-size:14px;
}
.nav-tabs>li>a {
	  border-radius: 0px;
  font-size: 14px;
  color: #313436;
  cursor:pointer;
  padding-top: 12px;
}
.nav-tabs {
	border-bottom: 4px solid #ffad10;
}
.glyphicon-remove-pos {
	  position: absolute;
  right: 3px;
  top: 0px;
  cursor: pointer;
}
.workspace_tab .nav-tabs a {
	background-color: #005287;
	border: none;
	color: #c3d0de;
	cursor:pointer;
	height: 94px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin-right: 0px;
	border-bottom: 6px solid transparent;
    padding: 7px;
	
}
.workspace_tab .nav-tabs a:hover { border-bottom: 6px solid transparent;  }
.workspace_tab .nav-tabs>li.active>a, .workspace_tab .nav-tabs>li.active>a:focus, .workspace_tab .nav-tabs>li.active>a:hover {
  background-color: #005287;
  border: none;
  color: #ffffff; 
  border-bottom: 6px solid #ffad10;
  font-size: 12px;
   padding: 7px;
}
.left {
	margin-left:18px;
}
.workspace_tab .width80{
	  width: 54px;
	}
.workspace_tab .width80 img{
  padding-left: 2px;
}
.workspace_tab .clone img{
	  margin-left: -5px;
	}
.workspace_tab .clone div{
	  margin-left: -8px;
	}
.workspace_tab .width62{
	  width:62px;
	}
.workspace_tab .width62 img{
	  padding-left:6px;
}
/**/
/**/
.workspace_tab .width102{
    width: 82px;
	}
.workspace_tab .width102 img{
	margin-left:2px;
	}
.workspace_tab .width113{
	width:100px;
	}
.workspace_tab .width113 img{
    margin-left: 5px;
}

.workspace_tab .width120{
	  width: 89px;
	}
.workspace_tab .width120 a div {
    margin-left: -8px;
}
.workspace_tab .nav-tabs {
	border: none;
}
.workspace_tab ul li {
	min-width: 0px;
}
.item_icon {
	padding: 11px;
}
.border_lf {
	border-right: 2px solid #00406a;
}
.items {
	border-left: 2px solid #0069ad;
	border-right: 2px solid #00406a;
	color: #c3d0de;
}
.items_child3 {
	  background-color: #005287;
	border: none;
	color: #ffffff;
	width:44px;
	height: 94px;
	font-size: 12px;
}
.items_child3:hover{
	background-color:#0074bf;
	color:#fff;
	cursor:pointer;
	}
.items_child3 span:hover {
  color: #fff;

}
.items_child3 div {
	font-size: 12px;
	color: #c3d0de;
	margin-left: 13px;
	font-family:Roboto Light;
	margin-top: 11px;
}
.items_child3 span {
	color: #00385c;
	font-size: 22px;
	margin-top: 19px;
	margin-left: 16px;
}
.show_div {
	background-color: #004978;
	border: none;
	color: #ffffff;
	width:380px;
	height: 94px;
	font-size: 12px;
	  font-family: Roboto Medium;
}
.show_child1 {
	height: 47px;
	width: 420px;
	border-bottom: 2px solid #0069ad;
	border-left: 2px solid #0069ad;
	font-size: 12px;
	color: #fff;
}
.show_child2 {
	height: 47px;
	width: 420px;
	border-top: 2px solid #00406a;
	border-left: 2px solid #0069ad;
}
.items_child4 {
	  background-color: #004978;
	border: none;
	color: #ffffff;
	width: 26px;
	height: 94px;
	font-size: 12px;
}
.items_child4:hover{cursor: pointer;}
.items_txt{
	  text-align: center;
	}
.items_child4 span {
	margin-left: 9px;
	margin-top: 35px;
}
.Series_txt {
	padding: 6px 10px;
	border-right: 1px solid #00385c;
	color: #c3d0de;
}
.Series_txt input[type="radio"]:checked+label
{ color: #FFF;} 

.show_child1 input[type="text"] {
	width: 59px;
	height: 21px;
	background-color: #005287;
	border: 2px solid #002d49;
	margin-top:12px;
	color: #fff;
	height: 25px;
  padding-left: 6px;
}
.risk_text{
	  margin-top: 16px;
  padding: 0px 10px;
	color:#c3d0de;
	}
.show_child1 span {
	padding: 13px;
}
input[type=radio] {
	display: none;
}
label[for=no_series]:after, label[for=series]:after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 8px;
	background-color: #00395d;
}
.radio label:after {
	border-radius: 8px;
}
input[type=radio]:checked + label:after {
	content: "\2022";
	color: #ffad10;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
}
.chart_txt {
	margin-top: 8px;
	padding: 7px;
	color: #c3d0de;
}
.drpdown .customdd a{
	  background-color: #005287;
	  border: 1px solid #002d49;
	  border-radius: 0px;
	  padding:5px 3px;
	  color: #c3d0de;
	  margin-top: 9px;
	  margin-left: 0px;
}
.nav-pills li ul{
  border-radius: 0px;
  color: #fff;
  font-size: 12px;
  font-family: roboto BOLD;
  top: 35px;	
}
.form-group {
	  margin-bottom: 3px;
	}
.form-group .txtInput {
  font-size: 12px;
  font-family: roboto BOLD;
	}
.btn_drpdown, .btn_drpdown:hover, .btn_drpdown:focus{
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  font-family: roboto bold;
  background-color: #005a94;
	}
.arrow_box {
	position: relative;
	background: #0074bf;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 116, 191, 0);
	border-top-color: #0074bf;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box a{background: #0074bf !important}
.grid_margin{
	margin-top:15px;
    border: 1px solid #d6d6d6;
	}

.indexes{
	font-weight:bold;
	font-size:14px;
	color:#313436;
	line-height: 33px;
	}
.col_font{
	color:#313436;
	border:none;
	}
.col_font .dropdown .caret{
	color:#313436;
	}
.customdd ul{
	  background-color: #005287;
	  top:110%;
}
.customdd .new_dropdown li a{
	margin-top:0px;
	border:none;
}
.new_btn, .new_btn:hover{
	border:none;
	}
.add_txt{
	font-size:12px;
	color:#313436;
	line-height: 33px;
	font-weight:bold;

	}
.left_br{
	border-left:3px solid #d6d6d6;
	}

/*Grid Styling starts here*/

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 100%;
}
.ngHeaderSortColumn 
{
    text-align: center;
    word-break: break-word;
}
.glyphicon-trash
{
	
    padding-top:7px;
    padding-left: 3px;
}
.del_container {
    
    position: relative;
}
.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left bottom 0;
    position: absolute;
    border-top:1px solid #d6d6d6;
    z-index: 10;
    text-align: center;
    background: #fff;
    padding: 5px 11px;
    right:-60px;
    top:31px;
    font-weight: bold;
	border-right: 1px solid #d6d6d6;
	padding-top: 6px;
}
.marg_Right
{
    margin-right: 25px;
}

.bord_left
{
    border-left: 1px solid #d6d6d6;
}
.ngHeaderContainer
{
    border-bottom: 2px solid #000;
    color: #737F7F;
}
.dropdown .background_Style
{
    background: #005287;
    border-radius: 0px;
}
.dropdown .background_Style>li>a
{
    color: #fff;
}
.dropdown .background_Style>li>a:hover
{
    color: #000;
}
.ngCellText
{
    text-align: center;
}
.add_txt .glyphicon-plus
{
    cursor: pointer;
}
.constraints{
  background-color: #cce3f2;
  padding: 10px;
  font-size: 12px;
  color: #677475;
  width:96%;
    margin-bottom: 1px;
}
.delte{
	padding:4px 10px 4px 4px;
	}
.add_constraints{

  padding: 10px;
  font-size: 12px;
  color: #677475;
  width:100%;
  margin-bottom: 1px;
	
	}
.constraint_box{
	margin-top:15px;
	border:1px solid #ccc;
	width:80%;
	}
.add_constraints span{
 padding-right:5px;
}
.clse{
	margin-top:15px;
	}
	
	
/*---------- Start Work Space Popup CSS ----------*/
#workspace_popup
{   width:530px;
	color:#fff;
	font-size:14px;
	margin:0 auto;
	
}
#workspace_popup .workspace_header
{
	 background-color:#313436;
	 height:43px;
	 line-height:43px;
	 font-weight:bold;
	 padding:0px 10px;
}
.workspace_content{
	  margin: 0px 10px;
}
.popup_close_icon {
	background-image: url(../../images/close_popup.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 14px 14px;
	width: 15px;
	height: 15px;
	margin-top: 13px;
	cursor: pointer;
}
.close_top {
margin-top:0px;
}
.workspace_content .content_title{
	font-size:14px;
	color:#313436;

	 padding:0px 10px;
	 border-bottom:1px solid #dee1e2;
	 cursor:pointer;
	}
.workspace_content .content_title:active {
	background-color: #fff2d4;
}
.workspace_content .title_ws{
	font-weight:bold;
	}
.workspace_content .content_box
{
 height:50px;
 line-height:50px;
}

.workspace_content .content_run{
	font-size:14px;
	color:#313436;
	 padding:0px 10px;
	 border-bottom:1px solid #dee1e2;
	 cursor:pointer;
	}
.workspace_content .content_run:active{
 background-color:#fff2d4;
	}

.content_select{
	 height:50px;
 line-height:50px;
 margin-top:35px;
 margin-bottom:25px;
	}
.content_select .content_selected{
	border:1px solid #dee1e2;
	width:350px;
	height:50px;

	}
.workspace_button button{
  width: 128px;
  height: 50px;
  line-height: 50px;
  background-color: #005a94;
  color: #fff;
  border: none;
}
.content_selected .selected_txt{
		color:#313436;
		font-size:14px;
		font-weight:medium;
		padding-left:10px;
	}
#workspace_open .modal-content
{
  border-radius: 0px;
  width: 532px;
}
#workspace_open .modal-body{
	padding:0px;
	}
.workspace_scroll{
	  height: 206px;
  overflow-y: auto;
   overflow-x:hidden;
}
/*---------- End Work Space Popup CSS ----------*/

.navbar-fixed-bottom, .navbar-fixed-top {
	position: relative !important;
}










/*Constraints section style starts here*/

/*Constraints CSS by Harsha starts */

.constraints{
  background-color: #CCE3F1;
  padding: 10px 15px;
  font-size: 14px;
  width:95%;
    margin-bottom: 1px;
}
.delte{
	padding:16px 18px 4px 14px;
    border-bottom: 1px solid #D1D1D1;
	}
.delte .glyphicon
{
    padding: 0px;
}
.constraint_box{
	margin-top:15px;
	border:1px solid #ccc;
	width:95%;
	}
.add_constraints span{
 padding-right:5px;
}
.clse{
	margin-top:15px;
	}

/*Constraints CSS by Harsha ends*/

/*Constraints CSS by Nikesh starts*/

.constraint_box .constraints_wrapper
{
    max-height: 190px;
    overflow-y: scroll;
    scrollbar-face-color:#B4B4B6;
   scrollbar-track-color:#000;
   background-color:#fff;
}
.constraint_input
{
    width: 907px;
}
.add_constraint
{
    border-top:1px solid #DFE0E2;
    padding:8px 15px;
	background-color:#fff;
}

.padd_left5
{
    padding-left: 5px;
}

/*.constraint_box .clearfix:last-child .constraints
{
    margin-bottom: 0px;
}*/

.add_constraint .glyphicon-plus
{
    cursor: pointer;
}

.delte
{
    color:#8DB7CF;
}
.marg_top1
{
    margin-top: 1px;
    margin-bottom: 1px;
}
.cursor_pointer
{
    cursor: pointer;
}
.save_icon
{
    padding:11px 14px 4px 17px;
    color:#8DB7CF;
	background-color:#fff;
}
.clse
{
	background-color:#fff;
}

/*Constraints CSS by Nikesh ends*/

/*Constraints section style ends here*/


/* Matrix style starts here*/
.cell {
  display: table-cell;
  font-family: courier;
  border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    width: 100px;
    text-align: center;
    padding: 1em;
    float: left;
    background-color: #fff;
}
.tableCustom {
  display: table;
  border-collapse: collapse;
    float: left;
}
.tableCustom .row
{
    margin-left: 0px;
}
.customary .CustomHeader
{
    float: left;
    padding: 1em;
    border-right: solid 1px #d1d1d1;
    border-top: solid 1px #d1d1d1;
    border-bottom: solid 1px #d1d1d1;
    text-align: center;
    width: 100px;
    background-color: #B3B3B3;
}

.RowHeader
{
    display:block;
    padding: 1em;
    border-right: solid 1px #d1d1d1;
    border-left: solid 1px #d1d1d1;
    border-bottom: solid 1px #d1d1d1;
    text-align: center;
    width: 100px;
    background-color: #B3B3B3;
}
.customary
{
    margin-top: 20px;
    float:left;
    width: 100%;
    padding-left:15px;
}
.horizontal_header
{
    height:50px;
    border:none;
}
.EmptyHeader
{
    height: 50px;
    width: 100px;
    float: left;
    border:solid 1px #d1d1d1;
    margin-left:15px;
    background-color: #B3B3B3;
}
.RowHeader_Wrapper 
{
    width: 100px;
    float: left;
}
.RowHeader_Wrapper .row
{
    margin-left: 0px;
}
.diagonal_cell
{
    background-color: #F0F0F0;
}

.tableCustom .cell .btn
{
    padding: 0px;
    border: none;
    vertical-align: inherit;
}
.matrix_wrapper
{
    width:100%;
    overflow-x: auto;
}
.matrix_content
{
    float: left;
}


/* Matrix style ends here */

.scale-style {
    margin-top: 25px;
    font-weight: bold;
    padding-left: 30px;
}

.scale-style p
{
    text-align: left;
}


.scale-style input[type=range]
{
    height:85px;
}

.scale-style input[type=range]::-ms-track {
    width: 100%;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
/*    color: transparent;*/
}

.scale-style input[type=range]::-ms-fill-lower {
    background: #8198A8;   
}

.scale-style input[type=range]::-ms-fill-upper {
    background: #8198A8;
}

.scale-style input[type=range]::-ms-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #005B94;
}
.updated_cell
{
    background-color: #FFCAA2;
    
    text-decoration: underline;
}

.default_cell
{
    background-color: #fff;
}

/*input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}*/

/* Scale slider style ends here */

.tab-box-shadow{
  box-shadow: 6px 0px 10px #d4d8d9;
  background-image:url(../../images/Delete%20Sign-light.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 14px 14px;
}
.drpdown, .dropdown{
	cursor:pointer;
}
	
.tab-close-btn{
  background-color: red;
  width: 18px;
  height: 18px;
  top: 3px;
  right: 3px;
  position: absolute;
  opacity: 0;
  cursor:pointer;
}



/* Popover style starts here */

textarea.popover-textarea {
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-shadow: none;
	resize:none;
}

textarea.popover-textarea {
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-shadow: none;
}

.popover-cancel:active, .popover-submit:active{
	width:50%;
	background-color:#00385c
	}
.popover{
	border-radius:0px;
	padding: 0px;
}
.popover-input label{
	color:#313436;
	font-size:12px;
	font-family: Roboto medium;
	}
.popover-input input{
border: 1px solid #183163;
}
.popover{
width: 286px;	
}
.popover-title{
	font-size: 12px;
color: #313436;
font-family: Roboto light;
margin-left: -22px;
background: none repeat scroll 0% 0% transparent;
margin-top: -2px;
border-bottom:none;
}
.input_width{
	width: 170px;
	}


/*.popover-input div{
	margin-bottom:5px;
	}*/
.popover-input{
	border-top:1px solid #183163 ;
	border-right:1px solid #183163 ;
	border-left:1px solid #183163 ;
    padding: 9px 14px;
    width:100%;
    background-color: #fff;
}
.pop_textArea textarea{
	border: 1px solid #183163;
border-radius: 0px;
margin-top: 5px;
height: 70px;
width: 97%;
resize:none;
}

.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #0073be;
  border-bottom-width: 0;
}
.red
{
    color: red;
}
.vis-hidden{
     visibility: hidden;
  }
.cell a
{
    color:#000;
    text-decoration: none;
}
.updated_cell a
{
    color: #0075bf;    
}
/* Popover style ends here */

/*Add position pop up */
.modal-content{
	border-radius:0px;
	}
.modal-header{
   background-color: #313436;
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto Medium;
}
.modal-body  .index_row{
	list-style-type: none;
	padding: 5px 0px;
	border-bottom: 1px solid #dee1e2;
}
.index_title {
  color: #313436;
  padding: 22px 0px;
  margin-bottom: 6px;
  border-bottom: 1px solid #dee1e2;
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
}
.modal-body .index_row:active {
	list-style-type: none;
	padding: 5px 0px;
	border-bottom: 1px solid #dee1e2;
	background-color: #fff2d4;
	color: #313436;
	font-weight:bold;
}
.modal-body ul li:last-child{
  border-bottom:none;
}
.modal-footer{
    border-top:none;
	  padding-top: 0px;
}
.modal-footer button, .modal-footer button:hover{
  width: 128px;
  height: 50px;
  line-height: 50px;
  background-color: #005a94;
  color: #fff;
  border: none;
  border-radius: 0px;
  padding-top: 0px;
	}
.modal-body ul li .chkbox{
  color: #677475;
  font-size: 12px;
  font-family: Roboto bold;
  font-weight: bold;
}

input[type=checkbox] {
/*display:none;  ppp*/
}

input[type=checkbox] + label
{
background: #fff;
height: 15px;
width: 15px;
display:inline-block;
padding: 0 0 0 0px;
border: 1px solid #4ea54f;
}
input[type=checkbox]:checked + label
{

 background-image:url(../../images/checked_icon.png);
 background-repeat:no-repeat;
display:inline-block;
  padding-left: 20px;
    border: 0;
} /**/

/*Add position pop up */


/* Delete Popup*/
.modal-open .modal-content{
	border-radius:0px;
	  width: 532px;
	}
#delete_popup .cancel_button{
	margin-right:10px;
	}
.modal-body{
	  padding:0px;
	}

.workspace_button button:active {
  width: 128px;
  height: 50px;
  line-height: 50px;
  background-color:#005a94;
  color: #fff;
  border: none;
}
#delete_popup .content_title{
	border-bottom:none;
	color:#313436;
	font-size:12px;
    font-family:Roboto Medium;
	margin-left:30px;
	}
.del_popupicon{
	background-image:url(../../images/delete_popup.png);
	width:64px;
	height:64px;
	background-repeat:no-repeat;	
	}
#delete_popup .content_box{
	margin-top:10px;
	}
#delete_popup .workspace_header span{
	cursor:pointer;
	}
/* Delete Popup*/
/*columns_drpdwn css*/
.columns_drpdwn a{
	  color: #313436;
  font-size: 12px;
  font-family: Roboto;
  font-weight: lighter;
	}
.add_txt a{
		  color: #313436;
  font-size: 12px;
  font-family: Roboto;
  font-weight: lighter;
    cursor: pointer;
		}
.columns_drpdwn .dropdown-menu {
	  margin: 2px 0 0;
	  left: -47px;
	}
.columns_drpdwn{
	position:relative;
	}
.columns_drpdwn ul{
  border-top:4px solid #00375b;	
}

.position_txt{
    width: 213px;
    padding-left: 5px;
}
.columns_drpdwn{
	padding: 6px;
	}
.columns_drpdwn a{
	text-decoration:none;
	}

.dropdown .background_Style {
  height: 300px;
  overflow-y: scroll;
}
.dropdown .background_Style li{
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto Medium;
}
 input[type=checkbox] {
  display: none;
}
/*
.columns_drpdwn input[type=checkbox] + label
{
background-image:url(../../images/unchecked-img.png);
height: 18px;
width: 18px;
 background-repeat:no-repeat;
display:inline-block;
padding: 0 0 0 0px;

}
.columns_drpdwn input[type=checkbox]:checked + label
{

 background-image:url(../../images/checked-img.png);
 height: 18px;
width: 18px;
 background-repeat:no-repeat;
display:inline-block;
    border: 0;
}*/

.modal-backdrop.fade.in{
	height:100%
}


/* start popup tooltip */
.PopoverWrapper
{
  position: absolute;
  display: block;
  float: left;
  width: 288px;
  margin: 20px;
  padding: 1px;
  z-index: 1060;
}
.arrow-up {
    position: absolute;
    left: 48%;
    top: -11px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 13px solid #0072BB;
}
/* end popup tooltip */


 .pos-popop ul li {
	list-style: none;
 }

 
 
 
/* start table style css */
.currentRowGroup {
	display: none;
}

.tagInput {
	height: 30px;
	width: 65px;
}

.tagDropDowm {
	background-color: #fff;
	border: 1px solid;
	height: 22px;
	/*margin: 3px 15px;*/
}

.caretDropColor {
	color: #000 !important;
}

.formTagLayout {
	margin: 5px 0px;
}

.ngViewport {
    overflow:visible;
}
.ngCell { overflow: visible; }



/* column style */
.dropdown-menu .dd-column{min-width:200px;}
.dd-column li{border-bottom:1px solid #ddd;}
.dd-column .form-control{padding:4px 5px;}
.dd-column li:hover{background:#005a94; color:#fff;}
.dditems{padding:5px 10px; display:block;}
.dd-column li input[type="checkbox"]{margin-top:0px;}

.indices{min-width:200px !important;}
.indices li{padding:3px 5px;}

.customdd .new_dropdown li a{
	padding-left: 10px;
}
.customdd .new_dropdown .form-group{padding-left:10px;}
.customdd .new_dropdown .form-group input{width:90%;}
.customdd .new_dropdown .form-group .btn{margin-top: 10px}

/* generic grid css */
.column{height:400px; overflow: auto;}
.column-btn{margin:5px 0; text-transform: uppercase;}
.add_txt a{color:#313436; line-height: 32px}
.ngTopPanel {background: none; height:35px !important;}
.grid_margin{margin-top:15px; border: 1px solid #d6d6d6; border-bottom:none;}
.gridWidthWrapper {
    width: 100%;
    overflow: hidden;
}

.gridStyle {
    border-right: 1px solid rgb(212,212,212);
    border-left: 1px solid rgb(212,212,212);
    border-bottom: 1px solid rgb(212,212,212);
    width: 100%; 
}

.ngHeaderCell{background: #fff !important; border-top:1px solid #D4D4D4;}
.ngHeaderCell:last-child{border-top:none}
.ngHeaderText{white-space:normal; word-warp:break-word; 
line-height:1; color:#677475; font-size: 12px;}

.gridStyle .ngRow .ngCell:last-child{border-bottom:1px solid #ddd; padding:0px; width: auto; cursor: pointer;}
.dd-column-tag{width:80%;  padding: 4px 0 0 7px;}
.dd-column-tag button{border: 1px solid #000;}

.tag-dd{width: 200px}
.gridStyle .dropdown .selectedTag{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 18px;
    display: inline-block;
}
.ngViewport, .ngCell {overflow:visible;}
.vertical-text{top: 32px;border-top: none;}
.left_br{border-right: 1px solid #D6D6D6}
.indexes{padding-left: 20px}
/* column style for grid */
.totalBackground{background:#9abacf; height: 29px;}
.editableCol{background:#fff; height: 29px;}
.non-editableCol{background:#d1d1d1 !important; height: 29px;}
.nonEditableCol-even{background:#b3b3b3 !important; height: 29px;/*border-bottom: 1px solid #FFF;border-right: 1px solid #FFF;*/}
.nonEditableCol-odd{background:#d1d1d1 !important; height: 29px;/*border-bottom: 1px solid #FFFFFF*/}
.positionConst{background: #f5bd50; border-bottom: 1px solid #FFFFFF;   height: 30px;}
.totalFooter{background: #c2d4e0}
.minMV{border-bottom:3px solid #fe0000;}

.noPadding-l{padding-left:0;}

.indexBlock {width:40%;}
.columBlock {width:16%;}
.positionBlock {width:16.8%;}
.constraintsBlock {width:25%;}
.ngCanvas{width:100%}


.dropdown.ngCellElement:focus{background:transparent;}

/* column style */
.dropdown-menu .dd-column{min-width:200px;}
.dd-column li{border-bottom:1px solid #ddd;}
.dd-column .form-control{padding:4px 5px;}
.dd-column li:hover{background:#005a94; color:#fff;}
.dditems{padding:5px 10px; display:block;}
.dd-column li input[type="checkbox"]{margin-top:0px;}

.indices{min-width:200px !important;}
.indices li{padding:3px 5px;}


.totalFooter {
	  background: #0075bf;
  /* padding: 5px 0; */
  text-align: center;
  border: 1px solid #fff;
}

/*.gridStyle .ngRow:nth-last-child(1),.gridStyle .ngRow:nth-last-child(2),.gridStyle .ngRow:nth-last-child(3),
.gridStyle .ngRow:nth-last-child(4){background: #9abacf; font-weight:bold}*/

.ngCanvas, .ngRow{width:100% !important;}

.cellEdit {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

span {

  text-decoration: none;
}
/* end table style css .gridStyle .ngRow:nth-child(4n),  */



/* mouse over */


.PopoverMouseoverWrapper {
    width: 142px;
    position: absolute;
    display: block;
    top:70px;
    z-index: 1059;
}
.PopoverMouseoverWrapper .popover-inner
{
    border: 1px solid #000;
    background-color: #fff;
    font-weight: bold;
    padding: 5px;
}
.PopoverMouseoverWrapper .arrow-up
{
  position: absolute;
  left: 4%;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #0072BB;
}
/*Table grid css harsha*/
.noPadding-l .btn{
	border:none;
	border-radius:0px;
    float:right;
	  height: 30px;
	}
.tagInput{
	width:110px;
	border-radius:0px;
}
.tag-dd{
    border-radius: 0px;	
}
.grid_cellcolor{
	color:#0075bf;
}

/*Table grid css harsha*/

.deleteWrapper {
	  background-color: #fff;
  padding: 1px;
  height: 29px;
}

/* chart pop up css starts here */
.chart_bg{
	background-color:#ecf0f1;
	padding: 17px 17px 33px 17px;
	}
.chart{
	margin-top: 30px;
	margin-left: 30px;
}
.chart_container {
	width: 988px;
	border: 1px solid #dee1e2;
	margin: 0 auto;
	
}
.chart_header {
	height: 60px;
	line-height: 60px;
	background-color:#fff;
	border-bottom: 1px solid #dee1e2;
}
.chart_title {
	color: #313436;
	font-size: 14px;
	font-family: Roboto;
	font-weight: bold;
	margin-left: 18px;
}
.chart_icons {
	border-left: 1px solid #dee1e2;
	padding: 2px 7px 0px;
	height: 60px;
}
.chart_dropdown .dropdown button {
	margin-top: -2px;
	margin-left: 15px;
	background-color: #fff;
	border: 1px solid #b3b5b6;
	border-radius: 0px;
}
.chart_bg .chart_dropdown select{
	margin-left: 10px;
  height: 35px;
  width: 98px;
  font-size: 12px;
  font-family: Roboto;

}
.dropdown_bordertp {
  border-top: 2px solid #00406a;
	}
.dropdown_borderbtm{
  border-bottom: 2px solid #0069ad;
	}
.dropdown .background_chart {
	background: #005287;
	border-radius: 0px;
	margin-top: -3px;
	color: #fff;
	min-width: 96px;
	left: 15px;
}
.dropdown .background_chart li a, .dropdown .background_chart li a:hover {
	font-size: 12px;
	color: #fff;
	background: #005287;
}

.legend_container{background-color:#fff;}
.legend{
	width:96px;
	height:35px;
	color:#313436;
	font-size:12px;
	font-family:Roboto;
	font-weight:bold;
	line-height: 35px;
    text-align: center;
	margin-right:10px;
	margin-top:10px;
	}
.plot1{
	border:1px solid #74b6b2;
	background-color:#aee2df;
	}
.plot2{
	border:1px solid #cc7665;
	background-color:#f29583;
	}
.optimizer3{
	border:1px solid #bbbf81;
	background-color:#dee2a1;
	}
.highcharts-button, highcharts-tooltip{
	display:none;
	}

.chart-tooltip {
	position: absolute;
	display: none;
    width:160px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    
}

.chart-tooltip .btn{
    color:#fff;
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    background-color: #00385B;
    border-radius: 0px;
    font-size: 12px;
}
.chart-tooltip .arrow-up{
    position: absolute;
    left: 20%;
    top: -12px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 11px solid #000;
}

/* chart pop up css ends here */


/*ToolTip Table*/

.popoverErrorInvalidValue {
  color: red;
  padding-top: 10px;
  width: 100%;
  background-color: #fff;
}

.PopoverGroupWrapper {
  position: absolute;
  display: block;
  float: left;
  width: 115px;
  margin: 20px;
  padding: 1px;
  z-index: 1060;
}

.groupList {
	height: 75px;
}

.groupList li { 
	list-style:none;
	border-bottom: 1px solid #eee;
}
/*New css for grid start*/
.grid_dropdown {
  height: 20px;
  line-height: 20px;
}
.dd-column-tag button .caret{
	color:#000;
}
.workspace_content .title_ws:active {
	background-color: #fff;
}
.delete_grid_row {
	background-image: url(../../images/Delete_light.png);
	background-repeat: no-repeat;
	background-size: 15px 15px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 5px 10px;
	cursor: pointer;
}
.add_txt .glyphicon-plus
{
    cursor: pointer;
	  margin-right: 10px;
}
.ngHeaderContainer
{
    border-bottom: 2px solid #000;
    color: #000;
    height:34px !important;
}
.gridStyle .ngRow .ngCell {
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	min-width: 38px;
	text-align: center;
	color: #313436;
	font-size: 12px;
	font-family: Roboto;
	
}
.gridStyle .cellEdit {
	padding-top: 4px;
	padding-bottom: 4px;
	text-align:left;
	padding-left: 0;
	padding-right: 0;
	color: #000000;
	font-size: 12px;
	font-family: Roboto Medium;
}
.open .up_icon{
	background-image:url(../../images/columns_arrow_icon.png);
	width:20px;
	height:14px;
	display:inline-block;
	 position: absolute;
  bottom: -7px;
  z-index: 999;
  right:70px;
	}
.rating_drpdown {
  border: 1px solid #183163;
  border-radius: 0px;
}
.rating_drpdown option{
   background-color: #2b536d;
   color:#fff;
}
.risk_chartheading, tspan{
  color: #313436;
  font-size: 14px;
  font-family: Roboto;
  font-weight: Bold;
  background-color:#fff;
}
.new_txt{
   color:#313436;
   font-size:12px;
   font-family:Roboto Medium;	
    margin-top: 5px;
}
.popover-cancel, .popover-submit, .popover-cancel:hover, .popover-submit:hover{
	width:50%;
	background-color:#2b536d;
	border-radius:0px;
	border-top:1px solid #183163;
	border-bottom:1px solid #183163;
	border: none;
	font-size: 12px;
	font-family: Roboto light;
	color:#fff;
	}

/*New css for grid end*/


.gridStyleTotal .ngTopPanel,
.gridStyleTotal .ngGroupPanel,
.gridStyleTotal .ngHeaderContainer{
	display: none;
}


.gridStyleTotal{
	height: 100px;
}


.columns_drpdwn-op-
{
background-image:url(../../images/unchecked-img.png);
height: 18px;
width: 18px;
 background-repeat:no-repeat;
display:inline-block;
padding: 0 0 0 0px;

}
.columns_drpdwn-op-checked
{

 background-image:url(../../images/checked-img.png);
 height: 18px;
width: 18px;
 background-repeat:no-repeat;
display:inline-block;
    border: 0;
}