<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Build Now</h1>
  </div>
  
  <!-- div>{{data}}</div -->
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-primary" ng-click="doPublish();setGA({'event':'event','eventType':'BUILDNOW_PAGE_PUBLISH_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK'})">Publish</button>
    <button type="button" class="btn btn-primary" ng-click="doAutoBuild();setGA({'event':'event','eventType':'BUILDNOW_PAGE_BUILDPROJECT_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK'})">Build Now</button>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<br />
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  	<textarea id="txtArea" ng-model="messageData" style="width:100%; height:20em;"></textarea>
  </div>

</div>


 
