<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Build Now</h1>
  </div>
  
  <!-- div>{{data}}</div -->
  <form class="form-horizontal ng-pristine ng-valid">
		  <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="projects">Autherized Projects :</label>
		    <div class="col-sm-8">
		      <select id="projects" name="project" class="form-control" ng-model="selectedProject" ng-options="project.projectname for project in projects" ng-change="onProjectSelect(selectedProject)" />
		    </div>
		  </div>
  </form>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-primary" ng-click="doPublish();setGA({'event':'event','eventType':'BUILDNOW_PAGE_PUBLISH_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK'})">Publish</button>
    <button type="button" ng-disabled="{{isBuildBtnActive}}" class="btn btn-primary" ng-click="doAutoBuild();setGA({'event':'event','eventType':'BUILDNOW_PAGE_BUILDPROJECT_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK'})">Build Now</button>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<br />
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>Selected Project For Build : <b>{{selectedProject.projectname}}</b></h3>
  	<textarea id="txtArea" ng-model="messageData" style="width:100%; height:10em;"></textarea>
  </div>

</div>


 
