<!--
 Change Passowrd View
-->
<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Change Your Password</h1>
	<hr />
  </div>


  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>Enter your password here:</h4>
    
    <div class="alert alert-danger" role="alert" ng-show="changePwdAction.isInalidPwd || changePwdAction.isInalidMatch || changePwdAction.isInalidPwd_Server">
      <div ng-show="changePwdAction.isInalidPwd">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Password should contain 6-32 character lenght.
      </div>
	  <div ng-show="changePwdAction.isInalidMatch">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Passwod does not match. New and Confirm password should be match.
      </div>
      <div ng-show="changePwdAction.isInalidPwd_Server">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
		You have enter invalid password.
      </div>
    </div>

    
      <div class="form-group">
        <input name="oPwd" type="password" class="form-control" placeholder="Enter Current Password" ng-model="changePwdAction.oPwd" required="">
      </div>
	  <div class="form-group">
        <input name="nPwd" type="password" class="form-control" placeholder="Enter New Password" ng-model="changePwdAction.nPwd" required="">
      </div>
	  <div class="form-group">
        <input name="cPwd" type="password" class="form-control" placeholder="Re-Enter Your New Password" ng-model="changePwdAction.cPwd" required="">
      </div>

      <div>
        <button type="button" class="btn btn-primary" ng-click="changePwdAction.onSubmitClick();">Submit</button>
		<a ui-sref="home">Cancel</a>
      </div>
    </div>
  <!-- /form -->
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
  </div>

</div>

<div>
	<div>
		<h1>Update Device Token</h1>
		<hr />
	</div>
	<div class="alert alert-success" ng-show="tokenAction.flag">
		<a href="#" class="close" ng-click = "tokenAction.onCloseMsg()" aria-label="close">&times;</a>
		<strong>Success!</strong>Your request completed.
	</div>
	<div class="form-group">
		<input name="token" type="text" class="form-control" placeholder="Enter Token" ng-model="tokenAction.token" required="">
	</div>
	<div>
		<button type="button" class="btn btn-primary" ng-click="tokenAction.onSubscribe();">Subscribe</button>
		<button type="button" class="btn btn-primary" ng-click="tokenAction.onUnSubscribe();">Un-Subscribe</button>
		<a ui-sref="home">Cancel</a>
	</div>
</div>     
 