<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Password Changed Successfully.</h1>
		<hr />
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p>You password has changed <strong>successfully</strong>.</p>
		<p>
		  Click here to go <a ui-sref="home">Home</a>
		</p>
	</div>
</div>