<footer class="page-footer" role="contentinfo">
  	<div class="row-fluid">
		<div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
		 <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
		  		<nav>
				   <lablel>&copy; 2015</lable> |
				   <a href="/public/termsconditions">Terms & Conditions</a> | 
				   <a href="/public/contactus">Contact Us</a> |
				   <a href="/public/sitemap">Site Map</a>
			   </nav>
		  </div>
		 <div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
	</div>
</footer>