<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>List of builds</h1>
  </div>
  
  <!-- div>{{data}}</div -->
  
  <div>
    <button type="button" class="btn btn-primary" ng-click="doPublish();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK'})">Publish</button>
    <button type="button" class="btn btn-primary" ng-click="doAutoBuild();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK'})">Auto Build Project</button>
    <button type="button" class="btn btn-primary" ng-click="pushData();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_BUILDPROJECT_BTN_CLICK'})">Push Data</button>
  </div>
  
  <div>
  	<textarea id="txtArea" ng-model="messageData" rows="50" cols="100"></textarea>
  </div>
  
  
  
  <div class="table-responsive">
	<table ng-table="tableConfigParam" class="table table-condensed table-bordered table-striped">
		<tr ng-repeat="item in $data">
			<td><input type="checkbox" ng-model="item.selected"/></td>
			<td data-title="'Build Date'" filter="{builddate:'text'}" sortable="'builddate'">{{item.builddate | getDateFormat}}</td>
			<td data-title="'Name'" filter="{buildname:'text'}" sortable="'buildname'">{{item.buildname}}</td>
			<td data-title="'Description'" filter="{description:'text'}" sortable="'description'">{{item.description}}</td>
			<td data-title="'App. Version'" filter="{appversion:'text'}" sortable="'appversion'">{{item.appversion}}</td>
			<td data-title="'Build Version'" filter="{buildnum:'text'}" sortable="'buildnum'">{{item.buildnum}}</td>
			<td data-title="'OS Type'" filter="{filename:'text'}" sortable="'filename'">{{item.filename | getFileType}}</td>
			<td data-title="'Created By'" filter="{createdby:'text'}" sortable="'createdby'">{{item.createdby}}</td>
			<td><a href="buildapp/gateway/downloadfile/{{item.filename}}" ng-click="setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK','msg':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK'})"><span class="glyphicon glyphicon-download"></span></a></td>
	  </tr>
	</table>
  </div>
  
  <!-- div class="table-responsive">	
	  <table class="table">
	    <thead>
	      <tr>
	      	<th><input type="checkbox"  ng-click="onCheckedAll($event)"/></th>
	        <th>Build<br/>Date</th>
	        <th>Name</th>
	        <th>Description</th>
	        <th>App. Version</th>
	        <th>Build. Version</th>
	        <th>OS Type</th>
	        <th>Created By</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in data">
	      	<th><input type="checkbox" ng-model="item.selected"/></th>
	        <th>{{item.builddate | getDateFormat}}</th>
	        <th>{{item.buildname}}</th>
	        <th>{{item.description}}</th>
	        <th>{{item.appversion}}</th>
	        <th>{{item.buildnum}}</th>
	        <th>{{item.filename | getFileType}}</th>
	        <th>{{item.createdby}}</th>
	        <th><a href="buildapp/gateway/downloadfile/{{item.filename}}" ng-click="setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK','msg':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK'})"><span class="glyphicon glyphicon-download"></span></a></th>
	      </tr>
	    </tbody>
	  </table>
  </div -->
  
  <div>
    <button type="button" class="btn btn-primary" ng-click="deleteBuilds();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_DELETE_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_DELETE_BTN_CLICK'})">Delete</button>
  </div>

  
  
</div>


 
