<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>List of builds</h1>
  </div>
  
  <!-- div>{{data}}</div -->
  <form class="form-horizontal ng-pristine ng-valid">
		  <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="projects">Autherized Projects :</label>
		    <div class="col-sm-8">
		      <select id="projects" name="project" class="form-control" ng-model="selectedProject" ng-options="project.projectname for project in projects" ng-change="onProjectSelect(selectedProject)" />
		    </div>
		  </div>
  </form>
    
   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-primary" ng-click="doPublish();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_PUBLISH_BTN_CLICK'})">Publish</button>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<br />
  </div>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <div class="table-responsive">
		<table ng-table="tableConfigParam" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="item in $data">
				<td><input type="checkbox" ng-model="item.selected"/></td>
				<td data-title="'Build Date'" filter="{builddate:'text'}" sortable="'builddate'">{{item.builddate | getDateFormat}}</td>
				<td data-title="'Name'" filter="{buildname:'text'}" sortable="'buildname'">{{item.buildname}}</td>
				<td data-title="'Description'" filter="{description:'text'}" sortable="'description'">{{item.description}}</td>
				<td data-title="'App. Version'" filter="{appversion:'text'}" sortable="'appversion'">{{item.appversion}}</td>
				<td data-title="'Build Version'" filter="{buildnum:'text'}" sortable="'buildnum'">{{item.buildnum}}</td>
				<td data-title="'OS Type'" filter="{filename:'text'}" sortable="'filename'">{{item.filename | getFileType}}</td>
				<td data-title="'Created By'" filter="{createdby:'text'}" sortable="'createdby'">{{item.createdby}}</td>
				<td><a href="buildapp/gateway/downloadfile/{{item.filename}}" ng-click="setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK','msg':'UPLOADDETAILS_PAGE_DOWNLOAD_CLICK'})"><span class="glyphicon glyphicon-download"></span></a></td>
		  </tr>
		</table>
	  </div>
   </div>
   
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-primary" ng-click="deleteBuilds();setGA({'event':'event','eventType':'UPLOADDETAILS_PAGE_DELETE_BTN_CLICK','msg':'UPLOADDETAILS_PAGE_DELETE_BTN_CLICK'})">Delete</button>
  </div>
  
</div>


 
