<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Upload Build</h1>
	<hr>
  </div>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 	<div class="alert alert-danger" role="alert" ng-repeat="item in uploadFormErrorList">
      <div>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{item.msg}}
      </div>
    </div>
     </div>
	 <form class="form-horizontal" role="form" ng-submit="submitUploadform($event)">
		  <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="projects">Select Projects :</label>
		    <div class="col-sm-8">
		      <select id="projects" class="form-control" ng-model="selectedProject" ng-options="project.projectname for project in projects" ng-change="onProjectSelect(selectedProject)" />
		    </div>
		  </div>		  
		  <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="name">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" ng-model="uploadForm.name" id="name" placeholder="Enter build name">
		    </div>
		  </div>
		  
	 	   <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="description">Description</label>
		    <div class="col-sm-8">
		      <textarea class="form-control" ng-model="uploadForm.description" id="description" placeholder="Enter build description" />
		    </div>
		  </div>	
		  
		   <div class="form-group col-sm-8">
		    <label class="control-label col-sm-4" for="file">Select File</label>
		    <div class="col-sm-8">
		      <input type="file" class="form-control" file-model="uploadForm.file" id="file" placeholder="Select build file">
		    </div>
		  </div>	
		  
	  <div class="form-group col-sm-8">
	    <label class="control-label col-sm-4" for="appversion">App Version</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" ng-model="uploadForm.appversion" id="appversion" placeholder="Enter App Version">
	    </div>
	  </div>	
	  
	  <div class="form-group col-sm-8">
	    <label class="control-label col-sm-4" for="buildversion">Build Version</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" ng-model="uploadForm.buildversion" id="buildversion" placeholder="Enter Build Version">
	    </div>
	  </div>	
	
	 
	 <div class="form-group col-sm-8"> 
   		<div class="col-sm-offset-4 col-sm-8">
		   <button type="submit" class="btn btn-primary" ng-click="setGA({'event':'event','eventType':'UPLOAD_PAGE_FILE_SUBMIT_CLICK','msg':'UPLOAD_PAGE_FILE_SUBMIT_CLICK'})">Submit</button>
	    	<a ui-sref="home" ng-click="setGA({'event':'event','eventType':'UPLOAD_PAGE_FILE_HOME_CLICK','msg':'UPLOAD_PAGE_FILE_HOME_CLICK'})">Cancel</a>
	    </div>
	  </div>
	</form>

  
</div>
     