<footer class="page-footer" role="contentinfo">
  <div class="container">
		<nav>
		   <a href="#">&copy; 2015</a> | 
		   <a href="#">Terms & Conditions</a> | 
		   <a href="#">Contact Us</a>
	   </nav>
  </div>
</footer>