ul.list-unstyled li {
    padding: 15px;
}

.grid {
    width: 500px;
    height: 400px;
}

.navbar {
	margin:0px;
	padding:0px;
	margin-bottom:0px;
}

.console{
    min-height: 50px;
    border: 2px solid #0f0f0f;
    cursor: default;
    white-space: pre-wrap;
    background-color: #020202;
    padding: 8px;
	color:#ffffff;
}
.console  div{
	padding :0;
	margin:0;
}

.console  div{
	margin:0;
	padding:0;
}

.console-error{
	color:red;
}

footer{
	margin-top:3.2em;
}

.margin-top-8{
	margin-top:.8em;
}