<div class="customary">
    <div class="pull-left matrix_wrapper">
        <div class="matrix_content" ng-style="{'width': contentWidth}">
            <div class="row horizontal_header">
                <div class="EmptyHeader">
                </div>
                <div class="CustomHeader" ng-repeat="row in indices">
                    {{row.id}}
                </div>
            </div>
            <div class="RowHeader_Wrapper">
                <div class="row RowHeader" ng-repeat="row in indices">
                    {{row.id}}
                </div>
            </div>
            <div class="tableCustom">
                <div class="row" ng-repeat="item in matrixList track by $index">
                    <div class="cell" ng-repeat="cell in item track by $index" >
                        <span class="btn btn-link" ng-click="showTip($event,{'type':'matrix_edit_popop','cell':cell})"
                        ng-disabled="isDigonal($index,$parent.$index)" ng-mouseover="showMatrixMouseOver($event,{'type':'matrix_info_popop','refMatrix':refMatrix[$parent.$index][$index]})" id="Matrix{{$parent.$index}}{{$index}}">{{cell}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 scale-style">
            <p>Scale</p><br>
			{{slider}}
            <input type="range" min="-10" max="10" ng-model="slider" step="0.1" list="mark" name="power" ng-change="changeValue(slider)">
            <datalist id="mark">
                  <option>-10</option>
                  <option>-9</option>
                  <option>-8</option>
                  <option>-7</option>
                  <option>-6</option>
                  <option>-5</option>
                  <option>-4</option>
                  <option>-3</option>
                  <option>-2</option>
                  <option>-1</option>
                <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                    <option>10</option>

            </datalist>
            
    </div>
</div>