<!-- constraints -->
      <div class="left constraint_box clearfix pull-left">
          <div class="constraints_wrapper">
           <div  ng-repeat="item in constraintsList track by $index" class="clearfix">
                  <div class="pull-left constraints">{{item}}</div>
                    <div  ng-click="deleteConstraints($index)" class="pull-right delte">
                        <span class="glyphicon glyphicon-trash"></span>
                  </div>            
           </div>
          </div>
            <div class="clearfix">
                <div ng-show="IsVisible">
                    <div class="pull-left constraint_input marg_top1"><input type="text" class="form-control" ng-model="constraint_string">
                    </div>
                    <div class="pull-left save_icon">
                        <span class="glyphicon glyphicon-floppy-saved" ng-click="addConstraints(constraint_string);showConstraintBox(false)"></span>
                    </div>
                </div>
            </div>
            <div class="add_constraint">
                    <span class="glyphicon glyphicon-plus" ng-click="showConstraintBox(true)"></span><span class="padd_left5">ADD CONSTRAINTS</span>
            </div>
     </div>
            <div ng-click="closeConstraintsView()" class="tble_close pull-left clse">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        
      
       
      <!-- constraints -->
   
<!-- constraints -->
<!--
<div class="row">
    <div class="col-md-11 well weather-current">
		<h1>constraints Grid Here123</h1>
		
		<input type="button" ng-click="closeConstraintsView()" value ="X"></button>
		
	
		<table ng-repeat="item in constraintsList">
			<tr>
				<td>{{item}}</td>
				<td><input type="button" ng-click="deleteConstraints($index)" value= "Del"></button></td>
			</tr>
			
		<table>
		
		
		<div>
			<input type="button" ng-click="addConstraints()" value ="Add Constraints"></button>
		</div>
		
		
    </div>
	
	
</div> --> 

