<!-- summary -->
<div class="col-lg-10 left summary_tbl clearfix">
		<table class="table cust_tbl text-center pull-left">
		  <thead>
			<tr class="cust_tr">
			  <th class="text-center">Rating</th>
			  <th class="text-center">Dur</th>
			  <th class="text-center">YTW</th>
			  <th class="text-center">Exp Ret</th>
			  <th class="text-center">Vol</th>
			  <th class="text-center">Skew</th>
			  <th class="text-center">Var</th>
			  <th class="text-center">CVar</th>
			  <th class="text-center">Var(Skew)</th>
			  <th class="text-center">CVar(Skew)</th>
			  <th class="text-center">MC DD</th>
			  <th class="text-center">Hist DD</th>
			  <th class="text-center">&amp;Months</th>
			</tr>
		  </thead>
		  <tbody>
			<tr class="cust_tr1">
			  <td ng-repeat="cell in summaryList" >
					<div>{{cell}}</div>
			  </td>
			</tr>
		  </tbody>
		</table>
		<div ng-click="closeSummaryView()"  class="tble_close pull-left"> <span class="glyphicon glyphicon-remove"></span> </div>
</div>

<!-- summary -->