  <% include template/htmldoctype %>
  <head>
	<!-- Add Meta tag -->
	<% include template/search-meta-tag %>
	<!-- End Meta tag -->


    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Info</title>

	<!-- Add include css files -->
	<% include template/common-css.ejs %>
  </head>

  <body ng-app="publicMain" ng-controller="publicMainController">
	
	<% if(typeof message != "undefined") {	%>
	<input type="hidden" ng-model="pageError" ng-init ='setInitPageValue(
		{"error" : "<%= message.error %>","errorType":"<%= message.errorType %>","description":"<%= message.description %>"})' />
	<% } %>

	<!-- start public header -->
	<div ng-include="'/view/:public-header'"></div>
	<!-- end public header -->
   
  <!-- start container -->
  <div class="container">
		<div class="col-sm-6">
	
			    <h1><span class="fa fa-sign-in"></span> Signup</h1>
			
			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			        <div class="alert alert-danger"><%= message %></div>
			    <% } %>
			
			    <!-- LOGIN FORM -->
			    <form action="/signup" method="post">
			        <div class="form-group">
			            <label>Email</label>
			            <input type="text" class="form-control" name="email" placeholder="Enter Emailid" maxlength="80">
			        </div>
			        <div class="form-group">
			            <label>Password</label>
			            <input type="password" class="form-control" name="password" placeholder="Enter Password" maxlength="32">
			        </div>
			
			        <div class="form-group">
			            <label>First Name</label>
			            <input type="text" class="form-control" name="firstname"  placeholder="Enter First Name" maxlength="32">
			        </div>
			
			        <div class="form-group">
			            <label>Middle Name</label>
			            <input type="text" class="form-control" name="middlename"  placeholder="Enter Middle Name" maxlength="32">
			        </div>
			
			        <div class="form-group">
			            <label>Last Name</label>
			            <input type="text" class="form-control" name="lastname"  placeholder="Enter Last Name" maxlength="32">
			        </div>
			
			        <button type="submit" class="btn btn-warning btn-lg" ng-click="setGA({'event':'event','eventType':'SIGNUP_PAGE_SIGNUP_SUBMIT_CLICK','msg':'SIGNUP_PAGE_SIGNUP_SUBMIT_CLICK'})">Signup</button>
			    </form>
			
			    <hr>
			
			    <p>Already have an account? <a href="/login" ng-click="setGA({'event':'event','eventType':'SIGNUP_PAGE_LOGIN_CLICK','msg':'SIGNUP_PAGE_LOGIN_CLICK'})">Login</a></p>
			    <p>Or go <a href="/" ng-click="setGA({'event':'event','eventType':'SIGNUP_PAGE_HOME_CLICK','msg':'SIGNUP_PAGE_HOME_CLICK'})">home</a>.</p>
			
			</div>

	</div>
	<!-- end container -->
    
	<!-- start public footer -->
	<div ng-include="'/view/:public-footer'"></div>
	<!-- end public footer -->
    
	<!-- Inlcude JS files -->
  <% include template/common-js.ejs %>
	<!-- -->
	<script src="/resources/js/public-main.js"></script>
	<script src="/resources/js/controller/login.ctrl.js"></script>
	<script src="/resources/js/factory/validator.fctry.js"></script>
	<script src="/resources/js/service/public.svc.js"></script>

	<!-- Add google analytic code here -->
	<% include ganalytictrackerid %>
	<!-- End google analytic code here -->

	<!-- Add google adsense -->
	<% include gadsense %>
	<!-- End google adsense -->
  </body>
</html>