 <% include ../template/htmldoctype %>
  <head>
	<!-- Add Meta tag -->
	<% include ../template/search-meta-tag %>
	<!-- End Meta tag -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Build Tool - sitemap</title>
	<!-- Add include css files -->
	<% include ../template/common-css.ejs %>
  </head>

  <body ng-app="publicMain" ng-controller="publicMainController">
	<!-- start public header -->
	<% include ./public-signup-header %>
	<!-- end public header -->
    <!-- start container -->
  <div class="container" ng-controller="loginController">
		<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <h1>Terms of Use</h1>
			    <hr>
				<p>
				By accessing this Web site, you agree to the following Terms of Use. If you do not agree to these Terms of Use, do not access this Web site. Build Tool reserves the right to change these Terms of Use, and your continued use of this Web site constitutes agreement to all such changes.
				</p>
				<h4>Uses of this Web Site</h4>
				<p>
				 <ul>
					<li>This web site intended to use for build automation and build repository.</li>
					<li>Certain area of website require user registation to access features.</li>
				 </ul>
				</p>
				
		  </div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
		
	</div>
	<!-- end container -->
    
	<!-- start public footer -->
	<% include ./public-footer %>
	<!-- end public footer -->
    
	<!-- Inlcude JS files -->
    <% include ../template/common-js.ejs %>
	<!-- -->
	<script src="/js/public-main.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/controller/login.ctrl.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/factory/validator.fctry.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/service/public.svc.js?v=<%=new Date().getTime();%>"></script>

	<!-- Add google analytic code here -->
	<% include ../template/ganalytictrackerid %>
	<!-- End google analytic code here -->

	<!-- Add google adsense -->
	<% include ../template/gadsense %>
	<!-- End google adsense -->
	<script>
		setGA({'event':'event','eventType':'FAQ_PAGE','msg':'FAQ_PAGE'})
	</script>
  </body>
</html>