 <% include ../template/htmldoctype %>
  <head>
	<!-- Add Meta tag -->
	<% include ../template/search-meta-tag %>
	<!-- End Meta tag -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Build Tool - sitemap</title>
	<!-- Add include css files -->
	<% include ../template/common-css.ejs %>
  </head>

  <body ng-app="publicMain" ng-controller="publicMainController">
	<!-- start public header -->
	<% include ./public-signup-header %>
	<!-- end public header -->
    <!-- start container -->
  <div class="container" ng-controller="loginController">
		<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <h1>Frequently Asked Questions</h1>
			    <hr>
				<p>
					You can go thorugh on this page about your query.
				</p>
				<div>
					<p><b>Question 1. What is Build Details page contain?</b></p>
					<p><b>Answer:</b> This page contain details of all your individual project duild details as will as you can download on click of download button.</p>
				</div>
				
				<div>
					<p><b>Question 2. How to create project?</b></p>
					<p>
						<b>Answer:</b> Go to Mange Project > Create Project page. Filll below sample details as per your project. Here is example:
					</p>
					<ul>
						<li>Project Name : Sample Project</li>
						<li>GIT URL : https://github.com/ferdynice/helloworld-war</li>
						<li>Git Username : xyz@abc.com (Optional)</li>
						<li>Git Password : XXXXXXXXX (Optional)</li>
						<li>Build File Name : ant</li>
						<li>Created Build Location in Project : /build/hello-world-java-1.0.war</li>
					</ul>
				</div>
				
				<div>
					<p><b>Question 2. What is Upload Build Page?</b></p>
					<p>
						<b>Answer:</b> Go to Upload Build > Here you can upload your project build manually with fill all required details in from.
					</p>
					
				</div>
				
				<div>
					<p><b>Question 2. How to build your project?</b></p>
					<p>
						<b>Answer:</b> Go to Build Now. Select your authorized project from drop down then click on build now. It start your batch execuation on server. In console log show all your project build status. Once it successful completed it. It enable Save Build button. On click of button you can fill respective build details and save it. After save go to build details and you can see your build corosponding project.
					</p>
					
				</div>
				
				
				
		  </div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
		
	</div>
	<!-- end container -->
    
	<!-- start public footer -->
	<% include ./public-footer %>
	<!-- end public footer -->
    
	<!-- Inlcude JS files -->
    <% include ../template/common-js.ejs %>
	<!-- -->
	<script src="/js/public-main.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/controller/login.ctrl.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/factory/validator.fctry.js?v=<%=new Date().getTime();%>"></script>
	<script src="/js/service/public.svc.js?v=<%=new Date().getTime();%>"></script>

	<!-- Add google analytic code here -->
	<% include ../template/ganalytictrackerid %>
	<!-- End google analytic code here -->

	<!-- Add google adsense -->
	<% include ../template/gadsense %>
	<!-- End google adsense -->
	<div ng-init="setGA({'event':'event','eventType':'FAQ_PAGE','msg':'FAQ_PAGE'})" />
  </body>
</html>