<div class="modal-body">
  <div id="workspace_popup" >
         <div class="workspace_header clearfix">
		  <div class="wk_title pull-left">Alert</div>
          <div class="pull-right popup_close_icon" ng-click="onClose()"></div>
		</div>
		<div class="workspace_content clearfix">
		<div class="content_box">
		   <div class="content_title">Can add more then {{mxTabCnt}} workspace</div>
		</div>
		
		</div>
		 <div class="workspace_content content_select clearfix">
		   
		   <div class="workspace_button pull-right">
			   <button type="button" ng-click="onClose()">Ok</button>
		   </div>
		   
		</div> 
	</div>
</div>