<div class="PopoverWrapper" ng-style="{top: tipTop,left:tipLeft}">
	<div class="arrow-up"></div>
	<div class="popover-inner">
		<div class="popover-input pull-left">
			<div class="pull-left  new_txt">New Value</div>
			<div class="pull-right">
				<select class="form-control rating_drpdown" ng-model="newCellValue">
					<option ng-repeat="opt in ratingArray" value="{{opt}}">{{opt}}</option>
				</select>
			</div>
			<div class="pull-left"></div>
		</div>
		<div class="popover-input pull-left">
			<textarea style="border: 1px solid #183163;" rows="4" cols="40" name="note" ng-model="newCellNoteValue" class="popover-textarea">Enter text here...</textarea>
		</div>
		<button type="button" class="pull-left btn btn-md  popover-cancel" ng-click="onToolTipRatingCancel()">Cancel</button>
		<button type="button" class="btn btn-md popover-submit" ng-click="onToolTipRatingOk()">Ok</button>
	</div>
</div>