<div class="modal-body" id="delete_popup">
  <div id="workspace_popup" >
		<div class="workspace_header clearfix">
		  <div class="wk_title pull-left">Warning</div>
           <div class="pull-right popup_close_icon" ng-click="onClose(false)"></div> 
		</div>
		<div class="workspace_content clearfix">
		<div class="content_box clearfix">
        
		   <div class="content_title pull-left">{{message}}</div>
		</div>
		
		</div>
		 <div class="workspace_content content_select clearfix">
		    <div/>
		    <div class="workspace_button cancel_button pull-right">
                <button type="button" ng-click="onClose()">OK</button>
		   </div>
		</div> 
	</div>
</div>