<div id="sectionC" class="tab-pane fade in active"> 
 	  
                <div class="container-fluid">
        <div class="col-lg-12 grid_margin clearfix">
   <div class="pull-left indexBlock">
   		<div class="indexes">Indexes</div>
   		
   </div>
   <div class=" col_font pull-left columBlock">
	<div class="dropdown columns_drpdwn">
		<a class="dropdown-toggle new_btn" type="button" id="menu1" data-toggle="dropdown">COLUMNS<span class="caret"></span></a>
        <span class="up_icon"></span>
		<ul class="dropdown-menu background_Style" role="menu" aria-labelledby="menu1" >
          
<li name='custom_checkbox' ng-repeat="item in colsPopupList" role="presentation">

<span class="dditems clearfix">
<input id="custom_checkbox_column_{{item.id}}" type="checkbox" ng-click="toggleCol(item)" checked="{{item.visible}}" class="pull-left">&nbsp;&nbsp;

            <label for="custom_checkbox_column_{{item.id}}" ng-class="checkBoxStyle(item)" class="pull-left"></label>
            {{item.displayName}}</span></li>
            
            
            
            
		</ul>
		

			
			
       </div>
   </div>
  <div class=" add_txt pull-left positionBlock">
      <a data-toggle="modal" data-target="#myModal" ng-click="resetSelectedAr()" ><span class="glyphicon glyphicon-plus"></span>ADD POSITION</a>
   </div>

   <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
            <div class="pull-right" data-dismiss="modal" aria-label="Close">
     <span  aria-hidden="true" class="pull-right popup_close_icon close_top" ng-click="ok()">
		  </span></div>
			<h4 class="modal-title" id="myModalLabel">Please Select a Index</h4>
		  </div>
		  <div class="modal-body pos-popop">
			<ul>
               <li class="index_title">
				 <span class="col-lg-4">Index ID</span>
                 <span class="col-lg-8">Name of Index</span>
			   </li>
            
            
				<li ng-repeat="indices in indicesList_l" ng-click="$event.stopPropagation()" class="index_row">
					<span class="chkbox"><span class="col-lg-4">{{indices.id}}</span><span class="col-lg-6">{{indices.desc}}</span>
             
                    
                  <input type='checkbox' name='custom_checkbox' value='valuable' id="custom_checkbox_{{indices.id}}" ng-change="getSelectedValue(indices, $index);" ng-model="selectedVal"/>
                   <label for="custom_checkbox_{{indices.id}}"></label> 
                    
                    </span>
				</li>
			</ul>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="addRow();ok();">ADD</button>
		  </div>
		</div>
	  </div>
	</div>
   

   
   <div class="pull-left constraintsBlock">
   		<div class="indexes left_br">
       		Position Constraints
   	</div>
   </div>
    <div class="pull-right">
        <div class="vertical-text">
        Delete
        </div>
    </div>
    </div>
	<div class="clearfix"></div>
</div>



<div>
	<div class="gridStyle" ng-grid="gridOptions"></div>
</div>
<div >
	<div class="gridStyle gridStyleTotal" ng-grid="gridOptionsTotal"></div>
</div>
				
				
				




</div>


